@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    a, button {
        @apply transition-all duration-700
    }
    a:hover, button:hover {
        @apply opacity-80 transition-all duration-300
    }
    input,
    input:hover,
    input:focus,
    input:active,
    input:focus-visible {
        @apply appearance-none transition-all duration-[50000000s] border-0 outline-0;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.4);
        @apply rounded-full;
    }
    ::-webkit-scrollbar-button {
        @apply hidden;
    }
    .logo-dark svg path:nth-child(odd) {
        @apply fill-white-100;
    }
    .logo-dark svg path:nth-child(even) {
        @apply fill-[#78FFF7];
    }
    .logo-trusted svg path {
        @apply fill-white-100;
    }
    .search-icon-dark svg g path {
        @apply fill-[#0F172A];
        fill-opacity: 100
    }
    .search-list {
        @apply transition-all pl-3 pr-[5px] overflow-y-auto mt-[2px] mr-[2px];
    }
    .search-list li {
        @apply transition-all flex flex-row items-center px-4 py-2 rounded-lg font-roboto font-light text-sm leading-4 text-white-60
            cursor-default hover:bg-[#000000]/25 hover:text-white-100;
    }
    .search-list li svg:nth-child(1) {
        @apply mr-4;
    }
    .search-list li svg:nth-child(2) {
        @apply transition-all w-0 ml-auto;
    }
}